h1{
	background-color: darkred;
	text-align: center;
	color: white;
	font-family: Helvetica;
	font-size: 35px;
	height: 8%;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

form{
	bottom: 0;
	position: fixed;
	position: inline;
	border-color: darkred;
	width: 100%;
	padding: 0px;
}

.submit{
	position: absolute;
	right: 0px;
	width: 12%;
	font-size: 20px;
	height: 100%;
	background-color: darkred;
	color: white;
	border-color:black;
}

.text{
	width: 88%;
	font-size: 20px;
	border-color: black;
}

.message_log{
	float: left;
	width: 85%;
}

.log{
	padding-top: 40px;
	padding-bottom: 30px;
	list-style: none;
}

.other_user{
	display: inline-block;
	background: #DCDCDC;
	color: black;
	width: auto;
	font-family: Helvetica;
	padding: 5px 10px 5px 10px;
	border-radius: 25px;
	word-break: break-all;
}

.mine{
	display: inline-block;
	background: darkred;
	color: white;
	width: auto;
	font-family: Helvetica;
	padding: 5px 10px 5px 10px;
	border-radius: 25px;
	word-break: break-all;
}

.active_users{
	float: right;
	width: 12%;
	background-color: #d3d3d3;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 92%;
}

h2{
	font-family: Helvetica;
	padding-left: 0px;
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 20px;
}

.users{
	font-family: Helvetica;
	text-align: left;
	list-style: none;
	word-break: break-all;
	padding-left: 10px;
	background-color: #d3d3d3;
}

.dot{
	height: 12px;
	width: 12px;
	margin-right: 5px;
	background-color: green;
	border-radius: 50%;
	display: inline-block;
}

.user_update{
	color: black;
	width: auto;
	font-family: Helvetica;
	font-style: italic;
	word-break: break-all;

}


