h1{
	background-color: darkred;
	text-align: center;
	color: white;
	font-family: Helvetica;
	font-size: 35px;
	height: 40px;
	margin: 0;
	padding: 5px;
	position: fixed;
	top: 0;
	width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

form{
	bottom: 0;
	position: fixed;
	position: inline;
	border-color: darkred;
	width: 100%;
	padding: 0px;
}

.submit{
	position: absolute;
	right: 0px;
	width: 10%;
	font-size: 20px;
	height: 100%;
	background-color: darkred;
	color: white;
	border-color:black;
}

.text{
	width: 90%;
	font-size: 20px;
	border-color: black;
}

.messages{
	color: black;
}

ul{
	padding-top: 40px;
	padding-bottom: 30px;
	list-style: none;
}

li{
	display: inline-block;
	background: #DCDCDC;
	color: black;
	width: auto;
	font-family: Helvetica;
	padding: 5px 10px 5px 10px;
	border-radius: 25px;
}

.mine{
	display: inline-block;
	background: darkred;
	color: white;
	width: auto;
	font-family: Helvetica;
	padding: 5px 10px 5px 10px;
	border-radius: 25px;
}

.message_log{
	height: 90%;
}
}


